/*This style custom for match and sort questions*/
.sortable2 {
    background: transparent;
    /*height: 200px;*/
    height: auto;
    position: relative;
    color: #666;
    font-size: 18px;
    font-weight: 700;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.sortable2 li {
    background: transparent;
    border: 1px solid #f5f5f5;
    padding: 10px 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #666;
    cursor: pointer;
}

.sortable2.active li {
    /*color: #fff;*/
    /*background-color: #79B530;*/
    /*border-color: #7E44B2;*/
    padding: 10px 0;

    /*width: 100%;*/
    /*height: 70px;*/
    /*background-color: #F5F7F9;*/
    border-radius: 50px;
    border-width: 0.2px;
    text-align: center;
    line-height: 2.4;
    color: #000000;
    border-style: solid;


}
.sortable2.active2 li {
    border-color: #068241;
    padding: 10px 0;
    border-radius: 50px;
    border-width: 0.2px;
    text-align: center;
    line-height: 2.4;
    color: #000000;
    border-style: solid;


}

.sortable2.imageOnly li {
    color: #000000;
    border-color: #068241;
    border-radius: 50px;
    margin-top: 10px;
    padding: 110px 0 !important;
}
.sort-container{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #068241;
    min-height: 90px;
    border-radius: 10px;
    /*position: relative;*/
}


.sortable2.sort_words{
    height: auto;
    min-height: 60px;
    width: 100%;
}

.sortable2.sort_words li {
    display: inline-block;
    float: right;
    padding: 10px;
    margin: 10px;
}

.sortable1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid #EAEAEA;
    min-height: 75px;
    border-radius: 20px;
    padding: 20px;
    /*background: #ffffff20;*/
    /*!*height: 60px;*!*/
    /*padding: 10px !important;*/
    /*position: relative;*/
    /*color: #666;*/
    /*font-size: 18px;*/
    /*font-weight: 700;*/
    /*transition: all 0.3s ease;*/
    /*-moz-transition: all 0.3s ease;*/
    /*-webkit-transition: all 0.3s ease;*/
    /*-ms-transition: all 0.3s ease;*/
    /*-o-transition: all 0.3s ease;*/
    /*-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);*/
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);*/
    /*border-color: #f5fbff !important;*/
    /*margin-bottom: 1.25rem;*/
}

.sortable1 li {
    /*background: #fafafa;*/
    /*border: #a7a9ab solid 2px !important;*/
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
    /*color: #666;*/
    /*cursor: pointer;*/
    /*width: 40%;*/
    /*margin: 0 10px;*/
    /*!*height: 40px;*!*/
    /*line-height: 2;*/
    background-color: #fafafa;
    border-radius: 10px;
    color: var(--dark-color);
    font-weight: bold;
    font-size: 18px;
    /*font-weight: 700;*/
    /*padding: 1rem 2rem;*/
    padding: 0.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 65px;
    border: #e0e0e0 solid 1px;
    /*transition: all .3s ease;*/
}

.connectedNoSortable {
    /*background: #ffffff20;*/
    /*position: relative;*/
    /*color: #666;*/
    /*font-size: 18px;*/
    /*font-weight: 700;*/
    /*transition: all 0.3s ease;*/
    /*-moz-transition: all 0.3s ease;*/
    /*-webkit-transition: all 0.3s ease;*/
    /*-ms-transition: all 0.3s ease;*/
    /*-o-transition: all 0.3s ease;*/
}
.question-option{
    width: 100%;
    position: relative;
    padding: 0 2rem;
    border: 1px solid #EAEAEA;
    font-size: 14px;
    color: var(--dark-color);
    border-radius: 50px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    min-height: 65px;
}
.add-ansar li {
    width: 100%;
    height: 65px;
    background-color: #c4bad3;

    border-radius: 50px;
    border-color: #068241;
    border-width: 0.2px;
    text-align: center;
    line-height: 2.5;
    color: #fff;
    margin-bottom: 9px;
    border-style: dashed;


    /*position: relative;*/
    /*z-index: 2;*/
    /*min-width: 220px;*/
    /*width: 220px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*border: none;*/
    /*padding: 0;*/
    /*text-align: center;*/
}


.btn_nav{
    height: 60px;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #068241;
    border-color: #068241;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 2rem;
}
.btn_nav:hover{
    background-color: #055b2e;
    color: #FFFFFF;
}
.btn_nav.active{
    background-color: #175d33;
    color: #FFEB3B;
}
